---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION, JOB_TITLE, BASE_URL } from "../consts";
import Timeline from "../components/about/Timeline.astro";

const myName = "山根 晴斗 - Yamane Haruto";
---

<Layout title={`About - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <main class="page-container">
    <h1 class="gradient-text page-title">About</h1>

    <div class="profile">
      <img
        src={`${BASE_URL}/assets/DQX profile.jpeg`}
        alt="山根 晴斗"
        class="profile-image"
      />
      <div class="profile-info">
        <h2>{myName}</h2>
        <p class="job-title">{JOB_TITLE}</p>
      </div>
    </div>

    <section class="introduction">
      <h3>プロフィール</h3>
      <p>2012年8月2日生まれ。エルトナ大陸出身。</p>
      <p>
        ドラゴンクエストXプレイヤー。<br />
        プレイ時間は約20000時間程度です。<br />
        冒険者の広場ページは<a
          href="https://hiroba.dqx.jp/sc/home/"
          target="_blank"
          rel="noopener">こちら</a
        >です。
      </p>
    </section>

    <section class="experience">
      <h3>経歴</h3>

      <Timeline date="2021年 - 現在" title="復活">
        <p>デルメゼ４倒します。</p>
      </Timeline>

      <Timeline date="2019年 - 2021年" title="ドラゴンクエストXプレイヤー">
        <p>デルメゼ制覇</p>
      </Timeline>

      <Timeline date="2018年 - 2019年" title="ドラゴンクエストXプレイヤー">
        <p>アストルティア爆誕</p>
      </Timeline>
    </section>
  </main>
</Layout>

<style>
  .profile {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2rem;
  }

  .profile-info h2 {
    font-size: 1.75rem;
  }

  .job-title {
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin-bottom: 0;
  }

  section {
    margin-bottom: 3rem;
  }

  h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
  }

  @media (max-width: 720px) {
    .profile {
      flex-direction: column;
      text-align: center;
    }

    .profile-image {
      width: 120px;
      height: 120px;
      margin-right: 0;
      margin-bottom: 1.5rem;
    }
  }
</style>
